<br>
<br>
<table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th> Admin Dashboard </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td> Products </td>
          <td> <%= @products %> </td>
        </tr>
        <tr> 
          <td> Categories </td>
          <td> <%= @categories %> </td>
        </tr>
      </tbody>
</table>