<li class="nav-item end-0">
  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
</li>
<li class="nav-item end-0">
  <%= link_to "Create Account", new_user_path, class: "nav-link" %>
</li>
<li class="nav-item end-0">
  <%= link_to "About", "/about/index" , class: "nav-link" %>
</li> 